## ML Expt 3

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from feature_engine.encoding import OneHotEncoder
from sklearn.preprocessing import  StandardScaler

In [2]:
df = pd.read_csv('churn_modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [6]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [9]:
X=df.iloc[:, :-1]
y=df.iloc[:, -1]
X.shape, y.shape

((10000, 10), (10000,))

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
X['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [12]:
ohe = OneHotEncoder(variables=['Geography', 'Gender'])
X = ohe.fit_transform(X)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Spain,Geography_Germany,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0,1,0

In [13]:
X.shape

(10000, 13)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
X_train

array([[ 0.35649971, -0.6557859 ,  0.34567966, ..., -0.57946723,
        -0.91324755,  0.91324755],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  1.72572313,
        -0.91324755,  0.91324755],
       [-0.96147213, -1.41636539, -0.69539349, ..., -0.57946723,
        -0.91324755,  0.91324755],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -0.57946723,
         1.09499335, -1.09499335],
       [ 0.15932282,  0.3900109 ,  1.03972843, ..., -0.57946723,
        -0.91324755,  0.91324755],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  1.72572313,
        -0.91324755,  0.91324755]])

In [17]:
from tensorflow.keras.models import Sequential

# Initializing the ANN
classifier = Sequential()

2022-10-30 22:52:32.939450: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-10-30 22:52:33.202549: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-10-30 22:52:33.202606: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-10-30 22:52:33.250718: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-10-30 22:52:34.469184: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-10-30 22:52:34.469327: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-10-30 22:52:34.469339: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2022-10-30 22:52:35.476824: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-10-30 22:52:35.476882: W tensorflow/stream_executor/cuda/cuda_driver.cc:263] failed call to cuInit: UNKNOWN ERROR (303)
2022-10-30 22:52:35.476914: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (r0hn-Aspire-A7): /proc/driver/nvidia/version does not exist
2022-10-30 22:52:35.477499: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [18]:
from tensorflow.keras.layers import Dense

# The amount of nodes (dimensions) in hidden layer should be the average of input and output layers, in this case 6.
# This adds the input layer (by specifying input dimension) AND the first hidden layer (units)
classifier.add(Dense(activation = 'relu', input_dim = 13, units=256, kernel_initializer='uniform'))

In [19]:
# Adding the hidden layer
classifier.add(Dense(activation = 'relu', units=512, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=256, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=128, kernel_initializer='uniform'))

In [20]:
# Adding the output layer
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [21]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               3584

 dense_1 (Dense)             (None, 512)               131584

 dense_2 (Dense)             (None, 256)               131328

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 1)                 129

=================================================================
Total params: 299,521
Trainable params: 299,521
Non-trainable params: 0
_________________________________________________________________

In [23]:
classifier.fit(
    X_train, y_train,           
    validation_data=(X_test,y_test),
    epochs=20,
    batch_size=32
)

Epoch 1/20
250/250 [==============================] - 3s 8ms/step - loss: 0.4306 - accuracy: 0.8190 - val_loss: 0.3546 - val_accuracy: 0.8545
Epoch 2/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3573 - accuracy: 0.8534 - val_loss: 0.3466 - val_accuracy: 0.8595
Epoch 3/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3446 - accuracy: 0.8614 - val_loss: 0.3533 - val_accuracy: 0.8545
Epoch 4/20
250/250 [==============================] - 2s 8ms/step - loss: 0.3430 - accuracy: 0.8611 - val_loss: 0.3490 - val_accuracy: 0.8560
Epoch 5/20
250/250 [==============================] - 2s 6ms/step - loss: 0.3388 - accuracy: 0.8621 - val_loss: 0.3505 - val_accuracy: 0.8605
Epoch 6/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3357 - accuracy: 0.8643 - val_loss: 0.3385 - val_accuracy: 0.8570
Epoch 7/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3329 - accuracy: 0.8652 - val_loss: 0.3405 - val_accuracy: 0.8620
Epoch 8/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3277 - accuracy: 0.8671 - val_loss: 0.3490 - val_accuracy: 0.8595
Epoch 9/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3261 - accuracy: 0.8684 - val_loss: 0.3500 - val_accuracy: 0.8590
Epoch 10/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3226 - accuracy: 0.8701 - val_loss: 0.3497 - val_accuracy: 0.8610
Epoch 11/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3204 - accuracy: 0.8692 - val_loss: 0.3629 - val_accuracy: 0.8580
Epoch 12/20
250/250 [==============================] - 2s 6ms/step - loss: 0.3168 - accuracy: 0.8721 - val_loss: 0.3396 - val_accuracy: 0.8655
Epoch 13/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3146 - accuracy: 0.8725 - val_loss: 0.3480 - val_accuracy: 0.8575
Epoch 14/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3085 - accuracy: 0.8715 - val_loss: 0.3479 - val_accuracy: 0.8580
Epoch 15/20
250/250 [==============================] - 2s 7ms/step - loss: 0.3073 - accuracy: 0.8734 - val_loss: 0.3758 - val_accuracy: 0.8585
Epoch 16/20
250/250 [==============================] - 2s 7ms/step - loss: 0.2989 - accuracy: 0.8759 - val_loss: 0.3504 - val_accuracy: 0.8570
Epoch 17/20
250/250 [==============================] - 2s 7ms/step - loss: 0.2990 - accuracy: 0.8760 - val_loss: 0.3686 - val_accuracy: 0.8605
Epoch 18/20
250/250 [==============================] - 2s 7ms/step - loss: 0.2888 - accuracy: 0.8795 - val_loss: 0.3643 - val_accuracy: 0.8570
Epoch 19/20
250/250 [==============================] - 2s 7ms/step - loss: 0.2821 - accuracy: 0.8815 - val_loss: 0.3834 - val_accuracy: 0.8580
Epoch 20/20
250/250 [==============================] - 2s 7ms/step - loss: 0.2780 - accuracy: 0.8801 - val_loss: 0.3759 - val_accuracy: 0.8570

In [24]:
y_pred = classifier.predict(X_test)
y_pred

63/63 [==============================] - 0s 3ms/step

array([[0.02280324],
       [0.00359101],
       [0.08380778],
       ...,
       [0.5529046 ],
       [0.08267409],
       [0.42648134]], dtype=float32)

In [25]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [False]])

In [26]:
from sklearn.metrics import confusion_matrix,classification_report

cm1 = confusion_matrix(y_test, y_pred)
cm1

array([[1533,   74],
       [ 212,  181]])

In [27]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1607
           1       0.71      0.46      0.56       393

    accuracy                           0.86      2000
   macro avg       0.79      0.71      0.74      2000
weighted avg       0.85      0.86      0.84      2000